{% extends "base.html" %}
{% block content %}
<table class="table table-striped">
 <thead>
   <tr>
     <th>Title</th>
     <th>Description</th>
   </tr>
 </thead>
 {% for project in objects_list %}
   <tr>
     <td>{{ project.title }}</td>
     <td>{{ project.description }}</td>
   </tr>
 {% endfor %}
</table>
<a class="btn btn-default" href="{% url 'projects:project_create' %}" role="button">Add Project</a>
<a class="btn btn-default" href="{% url 'home.views.index' %}" role="button">Back</a>
{% endblock %}
